.leaflet, .mapbox {
  min-height: 50rem;
}

.uploads {
  &-index {
    table {
      img {
        max-width: 5rem;
        max-height: 5rem;
      }
    }
  }
}

.floor-plan {
  form {
    button {
      &[type=submit] {
        span {
          display: none;
        }

        &:disabled {
          span {
            display: inline-block;
          }
        }
      }
    }
  }
}